*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background: linear-gradient(#3466c8, #7d1bab, #058814);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

.Main-Body{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #b5df0e;

}

.Header{
    display: flex;
    justify-content: center;
    background: black;
    color: aqua;
    padding: 2%;
}

.Maxi-Marquee{
    background: #600b8b;
    color:#5dea2e;
    /* display: flex; */
    /* justify-content: center;  */
    padding: 4%; 
}

.Container{
    width: 70vmin;
    height: 70vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5%;
    background-color: #a0e46f;
}

.box{
    background-color: rgb(245, 21, 21);
    display: flex;
    width: 2.25em;
    height: 2.25em;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: "permanent Marker", cursive;
    font-size: 4rem;
}

.Reset{
    display: flex;
    justify-content: center;
    background: black;
    color: aqua;
    margin-top: 3%;
    margin-left: 44%;
    margin-right: 44%;
    margin-bottom: 2%;
    padding: 3%;
    border-radius: 5%;
}


.Popup{
    background: linear-gradient(#3466c8, #7d1bab, #058814);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 8vmin;
}

.Message{
    color: azure;
    text-align: center;
    font-size: 1em;
}

.New-Game{
    background: black;
    color: aqua;
    border-radius: 7%;
    padding: 1%;
    font-size: 0.7em;
    border: none;
}

.hide{
    display: none;
}

.Reset:hover, .box:hover, .New-Game:hover{
    background-color: #89063f;
    cursor: pointer;
}

.Reset:active, .box:active, .New-Game:active{
    cursor: pointer;
    background-color: #ec8347;
}